<div class="container">
    <app-curso (cursoAdicionado)="onAdicionarCurso($event)"></app-curso>

    <div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th class="th">
                        <p>Nome do curso</p>
                    </th>
                    <th class="th">
                        <p>
                            cargaHoraria
                        </p>
                    </th>
                </tr>
            </thead>
        </table>
        
        <div *ngFor="let curso of cursos">
            <app-lista-curso [curso]="curso"></app-lista-curso>
        </div>
    </div>
</div>